.flex-container {
  background-color: rgb(173, 173, 173);
  padding: 25px;
}
.post {
  background-color: snow;
  padding: 10px;
  border-radius: 7px;
}
.inline-block-container {
  background-color: coral;
  padding: 25px;
}
.inline-block-container .post {
  display: inline-block;
  width: 30%;
}
