.flex-container {
  background-color: rgb(173, 173, 173);
  padding: 25px;
  display: flex;
  gap: 15px;
  /* Flex direction nurodo krypti */
  flex-direction: row;
  /* Issidestimas pagrindine asimi */
  justify-content: flex-start;
  justify-content: center;
  justify-content: space-between;
  justify-content: space-evenly;
  /* Isdestymas statmena asimi */
  align-items: flex-start;
  /* Gapa butinai teviniui elementui deti , Gapas sukuria tikslu tarpeli tarp elementu*/
  /* flex-wrap: wrap; */
}
.flex-container .post {
  width: 200px;
  /* margin: 0 15px; */
  /* flex-basis: 200px; */
}
.post {
  background-color: snow;
  padding: 10px;
  border-radius: 7px;
}
.inline-block-container {
  background-color: coral;
  padding: 25px;
}
.inline-block-container .post {
  display: inline-block;
  width: 30%;
  margin: 0 15px;
}
